.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-align: left;
    min-height: 430px;
}

.cardImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardContent {
    padding: 15px;
    flex-grow: 1;
}

.card h3 {
    margin: 0 0 10px 0;
    color: #4A7C59;
    font-family: "Bubblegum Sans", cursive;
}

.card p {
    margin: 0;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.btn {
    display: block;
    width: calc(100% - 30px);
    margin: 0 auto 15px auto;
    padding: 12px 0;
    background: linear-gradient(111deg, plum, plum);
    color: white;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: linear-gradient(135deg, lavender);
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}