.formContainer {
    max-width: 450px;
    margin: 0 auto;
    background-color: #fff8f0;
    padding: 10px 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #3e6b56;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form label {
    align-self: flex-start;
    margin-left: 10%;
    margin-bottom: 5px;
    font-weight: 500;
    color: #3e6b56;
}

.form input {
    width: 80%;
    padding: 12px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
}

.formBtn {
    margin-top: 10px;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    background-color: plum;
    color: white;
    border: none;
}

.error {
    color: red;
    margin-top: 5px;
    font-weight: bold;
    text-align: left;
}