main {
    padding: 60px 0;
}

.intro {
    max-width: 900px;
    margin: 0 auto 80px auto;
    text-align: center;
    padding: 0 20px;
}

.intro img {
    width: 100%;
    border-radius: 10px;
    margin-top: 25px;
}

.topics {
    text-align: center;
    background-color: #EAF4F4;
    padding: 60px 20px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    align-items: stretch; 
}