body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: #333;
  line-height: 1.6;
  backdrop-filter: blur(4px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}